.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#fortune-cookie {
  width: 350px;
  height: 350px;
}

#fortune {
  margin-top: 100px;
  font-weight: bold;
  font-size: 18px;
}

.giphy-embed{
    height: 80vh;
    width: 100vw;
    position: absolute;
    top: 10vh;
    left: 0;
    pointer-events: none;
}

#prompt {
    position: absolute;
    top: 91vh;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    margin-top: 50px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .hidden {
    display: none;
  }